include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst
include requirements.txt

recursive-exclude venv *
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude models *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include versioneer.py
include credmark/cmf/_version.py
